@font-face {
    font-family: 'Huglove';
    src: url('Huglove.woff2') format('woff2'),
        url('Huglove.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

